<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Base</title>
</head>
<body>

<a href="/emp" class="btn btn-primary">Create Record</a>
<a href="/show" class="btn btn-primary">Show Record</a>
<a href="/show" class="btn btn-primary">Update Record</a>
<a href="/show" class="btn btn-primary">Delete</a>
</body>
</html>